@model Pie
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" src="@Model.ImageUrl" alt="@Model.Name">
            </div>

            <div class="col-md-4 text-left">
                <h3 class="my-3">@Model.Name</h3>
                <h5>@Model.ShortDescription</h5>
                <p>@Model.LongDescription</p>
                <h3 class="my-3">Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
                <div class="addToCart">
                    <p class="button">
                        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                           asp-route-pieId="@Model.PieId">Add to cart</a>
                    </p>
                </div>
            </div>

        </div>
    </div>