@using Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model Pie
<div class="product-column">
    <article class="box-info-modern box-info-modern-figure">
        <a asp-controller="Pie"
           asp-action="Details"
           asp-route-id="@Model.PieId">
            <img class="inner-img" src="@Model.ImageThumbnailUrl" alt="">
        </a>
        <h6 class="box-info-modern-title">
            <a asp-controller="Pie"
               asp-action="Details"
               asp-route-id="@Model.PieId">
                @Model.Name
            </a>

        </h6>
        <div class="box-info-modern-text">@Model.ShortDescription</div>
        <div class="box-info-modern-details">
            <span class="box-info-modern-price">$@Model.Price</span>
            @{
                var AddToCardEnabled = true;

                if (HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart) != null)
                {
                    var sessionList = HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart);
                    if (sessionList.Contains(Model.Id))
                    {
                        AddToCardEnabled = false;
                    }
                }
            }
            @if (AddToCardEnabled)
            {
                <a asp-action="AddToCart" asp-route-serviceId="@Model.Id" class="btn btn-primary btn-square form-control btn-lg">Add to Cart</a>
            }
            else
            {
                <button class="btn btn-primary btn-square form-control btn-lg" disabled>Item in Cart</button>
            }
            }
            <a asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-pieId="@Model.PieId">
                <div class="box-info-modern-link shopping-cart-icon"></div>
            </a>
        </div>
    </article>
</div>
