@model Pie
    <div class="product-column">
        <article class="box-info-modern box-info-modern-figure">
            <a bs-toggle-modal="pieModal" asp-controller="Pie"
               asp-action="Details"
               asp-route-id="@Model.PieId">
                <img class="inner-img" src="@Model.ImageThumbnailUrl" alt="">
            </a>
            <h6 class="box-info-modern-title">
                <a bs-toggle-modal="pieModal" asp-controller="Pie"
                   asp-action="Details"
                   asp-route-id="@Model.PieId">
                    @Model.Name
                </a>
                
            </h6>
            <div class="box-info-modern-text">@Model.ShortDescription</div>
            <div class="box-info-modern-details">
                <span class="box-info-modern-price">Price: $@Model.Price</span>
                <a asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-pieId="@Model.PieId">
                    <div class="box-info-modern-link shopping-cart-icon"></div>
                </a>
            </div>
        </article>
    </div>
    <div id="pieModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <partial name="_Details" model="@Model" />
                </div>
            </div>
        </div>
    </div>
