@model ShoppingCartViewModel
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Shopping cart</h4>
            </div>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="@line.Pie.ImageThumbnailUrl" width="90"></div>
                    <div class="d-flex flex-column align-items-start product-details" style="width:200px">
                        <span class="font-weight-bold">
                            @line.Pie.Name
                        </span>
                        <div class="d-flex flex-row product-desc grey">
                            <div class="size mr-1"><span class="text-grey">Price:</span>
                                <span class="font-weight-bold">
                                    @line.Pie.Price.ToString("c")
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <a asp-area="Customer" asp-action="MinusOne" asp-route-id="@line.Pie.PieId"><i class="fa fa-minus text-danger"></i></a>
                        <h5 class="text-grey mt-1 mr-1 ml-1">@line.Amount</h5>
                        <a asp-area="Customer" asp-action="PlusOne" asp-route-id="@line.Pie.PieId"><i class="fa fa-plus text-success"></i></a>
                    </div>
                    <div>
                        <h5 class="text-grey">@((line.Amount * line.Pie.Price).ToString("c"))</h5>
                    </div>
                    <div class="d-flex align-items-center"><a asp-area="Customer" asp-action="RemoveFromShoppingCart" asp-route-id="@line.Pie.PieId"><i class="fa fa-trash mb-1 text-danger"></i></a></div>
                </div>
            }
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                <a asp-area="Customer" asp-controller="Order" asp-action="Checkout" class="button mt-4 button-lg button-shadow-2 text-decoration-none button-primary button-zakaria btn-block pay-button">
                    @{ 
                        var checkoutButtonText = "The cart is empty";
                        if (Model.ShoppingCart != null && Model.ShoppingCartTotal!=0)
                        {
                            checkoutButtonText = "Proceed to Pay " + @Model.ShoppingCartTotal.ToString("c");
                        }
                    }
                    @checkoutButtonText
                </a>
            </div>
        </div>
    </div>
</div>