@using BethanyPieShop 
@model IEnumerable<BethanysPieShop.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-10 mx-auto">
        <h1>All orders</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressLine1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressLine2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderPlaced)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var rowClass = "table-light";
                    if (item.Status == "Approved")
                    {
                        rowClass = "table-success";
                    }
                    if (item.Status == "Rejected")
                    {
                        rowClass = "table-danger";
                    }
                <tr class="@rowClass">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderPlaced)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-area="Administration" asp-action="Approve" asp-route-id="@item.OrderId">Approve</a> |
                        <a asp-area="Administration" asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                        <a asp-area="Administration" asp-action="Reject" asp-route-id="@item.OrderId">Reject</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>